* {
  margin: 0;
  padding: 0;
}
#slide_game {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
}

#btn {
  font-size: 2rem;
  padding: 0.7rem 2 rem;
  border: 3px;
  border-radius: 0.3;
  margin: 1rem auto;
  display: block;
  background-color: cornflowerblue;
}
