* {
  margin: 0;
  padding: 0;
}
#slide_game {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
}

#btn {
  font-size: 2rem;
  padding: 0.7rem 2 rem;
  border: 3px solid black;
  border-radius: 0.3;
  margin: 1rem auto;
  display: block;
  background-color: cornflowerblue;
}
#btn:active {
  background-color: crimson;
}
.slider {
  visibility: hidden;
  height: 20px;
  width: 100px;
  background-color: blueviolet;
  position: relative;
}
#slider1 {
  visibility: visible;
}
.animate {
  animation: slide 4s infinite linear;
}
@keyframes slide {
  0% {
    left: 0px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: 0px;
  }
}
